@font-face {
    font-family: font;
    src: url(./64d3dd9edfb41666c35b15bf_NeueHaasDisplay-Mediu.ttf) ;
}
@font-face {
    font-family: small;
    src: url(./small.ttf) ;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: font;
}
html,body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
.loader{
    height: 100%;
    width: 100%;
    background-color: #0B0500;
    position: fixed;
    z-index: 1005;
    color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vw;
}
.loader h2{
    text-transform: uppercase;
    position: absolute;
    background: linear-gradient(to right,orange,orangered);
    -webkit-background-clip: text;
    opacity: 0;
}
.main{
    position: relative;
    z-index: 1000;
}
.page1{
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    position: relative;
    padding: 0 2vw;
}
nav{
    height: 7em;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    padding: 4vw 1vw;
    align-items: center;
    z-index: 20;
    position: relative;
}
.nav-part2{
    display: flex;
    gap: 1vw;
}
.nav-part2 h4{
    padding: 15px 30px;
    border: 1px solid rgba(178, 172, 172, 0.687);
    border-radius: 50px;
    color: rgba(40, 38, 38, 0.743);
    position: relative;
    transition: all ease 0.36s;
    overflow: hidden;
    font-size: 1vw;
}
.nav-part2 h4 a{
    font-family: small;
    font-weight: 600;
}
.nav-part2 h4::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.36s;
}
.nav-part2 h4:hover::after{
    bottom: 0;
    border-radius: 0;
}
.nav-part2 h4 a{
    text-decoration: none;
    color: rgba(47, 45, 45, 0.899);
    position: relative;
    z-index: 9;
}
.nav-part2 h4:hover a{
    color: #EFEAE3;
}
.menu{
    display: none;
}
.menu-page{
    display: none;
}
.center{
    height: 75vh;
    width: 100%;
    /* background-color: rgb(255, 255, 250); */
    display: flex;
    border-bottom: 1px solid rgba(31, 31, 31, 0.383);
    padding-bottom: 2.7vw;
}
.left{
    width: 50%;
    /* background-color: aqua; */
    font-size: 1.7vw;
    font-weight: 700;
    display: flex;
    align-items: flex-end;
}
.left p{
    width: 50%;
}
.right{
    font-size: 5vw;
    display: flex;
    width: 50%;
    justify-content:space-around;
    align-items: flex-end;
    line-height: 8.2vw;
    text-align: right;
    z-index: 2;
}
.page1 video{
    width: 100%;
    border-radius: 30px;
    margin-top: 3vw;
    position: relative;
    z-index: 10;
}
.hero-shape{
    height: 36vw;
    width: 30vw;
    position: absolute;
    right: 0;
    top: 72vh;
}
.hero1{
    height: 30vw;
    width: 60vw;
    background-color: #FE4310;
    position: absolute;
    border-radius: 50% 39% 46% 48%;
    filter: blur(20px);
    z-index: 0;
    animation-name: anime3;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
.hero2{
    height: 30vw;
    width: 30vw;
    background-color: #FE4310;
    position: absolute;
    border-radius: 50% 32% 46% 48%;
    filter: blur(25px);
    z-index: 2;
    animation-name: anime2;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
.hero3{
    height: 30vw;
    width: 30vw;
    background: linear-gradient(#FE4310,#fe5f10f7);
    position: absolute;
    border-radius: 50% 39% 46% 48%;
    filter: blur(20px);
    z-index: 3;
    animation-name: anime1;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes anime1 {
    from{
        transform: translate(-10%,10%);
    }
    to{
        transform: translate(10%,-10%);
    }
}
@keyframes anime2 {
    from{
        transform: translate(10%,10%);
    }
    to{
        transform: translate(-55%,-10%);
    }
}
@keyframes anime3 {
    from{
        transform: translate(0%,-14%);
    }
    to{
        transform: translateY(-10%,10%);
    }
}
.page2{
    height: 125vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 8vw 0;
    /* overflow-x: auto; */
}
.con{
    white-space: nowrap;
    display: inline-block;
    animation: move;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.moving-text{
    white-space: nowrap;
    
}
.con h1{
    /* background-color: lightblue; */
    font-size: 9vw;
    display: inline-block;
    
}
.circle{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #FE4310;
    display: inline-block;
    margin: 1vw 2vw;
}
@keyframes move {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
.page2-content{
    height: 80vh;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
}
.page2-left{
    /* background-color: rgb(73, 214, 146); */
    width: 70%;
    height: 100%;
    font-size: 3.8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}
.page2-left h4{
    z-index: 1;
}
.page2-right{
    /* background-color: rebeccapurple; */
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.page2-right img{
    width: 60%;
    border-radius: 10px;
}
.page2-right p{
    font-size: 0.973vw;
    margin-top: 5vw;
    font-weight: 100;
    color: rgba(42, 42, 42, 0.689);
    font-family: small;
}
.blur1{
    height: 30vw;
    width: 30vw;
    background-color: #ff7b15;
    border-radius: 50% 47% 48% 49%;
    position: absolute;
    filter: blur(20px);
    animation-name: blury1;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes blury1 {
    from{
        transform: translate(0%,4%);
    }
    to{
        transform: translate(-6%,19%);
    }
}
.blur2{
    height: 30vw;
    width: 30vw;
    background-color: #FE4310;
    border-radius: 50% 47% 48% 49%;
    position: absolute;
    filter: blur(20px);
    animation-name: blury2;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes blury2 {
    from{
        transform: translate(0%,0%) skewX(0);
    }
    to{
        transform: translate(-20%,30%)  skewX(-11deg);
    }
}
.featured-pro{
    display: block;
    background-color: #EFEAE3;
    padding-left: 30px;
    display: flex;
    align-items: center;
    height: 10vh;
}
.dot{
    height: 10px;
    width: 10px;
    background-color: #FE4310;
    border-radius: 50%;
}
.featured-pro p{
    text-transform: uppercase;
    font-family: small;
    margin-left: 14px;
}
.page3{
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    position: relative;
}
.page3-content{
    height: 150px;
    width: 100%;
    /* background-color: rgb(220, 51, 21); */
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 2vw;
    border-bottom: 1px solid rgba(0, 0, 0, 0.45);
    overflow: hidden;
    justify-content: space-between;
    /* z-index: 2; */
}
.page3-content h2{
    font-size: 3.2vw;
    z-index: 2;
}
.overlay{
    height: 100%;
    width: 100%;
    background-color: #FF9831;
    position: absolute;
    left: 0;
    top: -100%;
    transition: all 0.2s ease;
}
.page3-content:hover .overlay{
    top: 0;
}
.page3-con{
    position: relative;
}
.page3-resp{
    display: none;
}
.details{
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    text-align: right;
    z-index: 2;
}
.details h3{
    color: #000000;
    text-transform: uppercase;
    font-family: small;
    font-weight: 400;
    font-size: 0.9vw;
}
.details p{
    color: rgba(128, 128, 128, 0.896);
    font-family: small;
}
.fixed-con{
    position: relative;

}
.fixed{
    height: 30vw;
    width: 24.5vw;
    /* background-color: red; */
    position: fixed;
    z-index: 10000;
    top: 20%;
    left: 50%;
    border-radius: 25px;
    display: block;
    background-size: cover;
    background-position: center;
    transition: all 0.4s ease-in-out;
}
.all-pro{
    width: 12em;
    padding: 3vw 0;
    margin-left: 3vw;
}
.all-pro h4{
    text-align: left;
    padding: 12px 33px;
    border: 1px solid rgba(55, 54, 54, 0.687);
    border-radius: 50px;
    position: relative;
    transition: all ease 0.36s;
    overflow: hidden;
    font-size: 20px;
    font-weight: 100;
}
.all-pro h4 a{
    font-family: small;
    color: rgb(0, 0, 0);
}
.all-pro h4::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.36s;
}
.all-pro h4:hover::after{
    bottom: 0;
    border-radius: 0;
}
.all-pro h4 a{
    text-decoration: none;
    color: rgba(47, 45, 45, 0.899);
    position: relative;
    z-index: 9;
}
.all-pro h4:hover a{
    color: #EFEAE3;
}
.page4{
    height: 120vh;
    width: 100%;
    /* background-color: rebeccapurple; */
    background-color: #EFEAE3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page4-content{
    height: 100vh;
    width: 96vw;
    background-color: #0B0500;
    border-radius:24px;
    display: flex;
    position: relative;
}
.page4-img{
    width: 55%;
    height: 100%;
    /* background-color: blueviolet; */
    position: absolute;
    right: 0;
    border-radius:24px;
}
.description{
    padding: 13.8vw 11vw;
    color: #EFEAE3;
    padding-right: 100vw;
    
}
.description h3{
    font-size: 4.4vw;
    font-weight: 200;
    line-height: 4.6vw;
    cursor: pointer;
    
}
.description p{
    margin-top: 3vw;
    font-family: small;
    line-height: 1.2vw;
    font-size: 1vw;
    color: #efeae3d5;
}

.project{
    color: #504A45;
}
.excution{
    color: #504A45;
}
.swipper-div{
    height: 70vh;
    width: 100%;
    z-index: 105;
    background-color: #EFEAE3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    padding: 2vw 5vw;
    overflow: hidden;
}
.follower{
    height: 6.3vw;
    width: 6.3vw;
    background-color: #fe2c10;
    position: absolute;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    font-family: small;
    z-index: 400;
    color: #EFEAE3;
    scale: 0;
}
.swiper:hover{
    cursor: none;
}

    .swiper {
        /* background-color: red; */
        margin-top: 2vw;
      width: 100%;
      height: 45.5%;
      overflow: visible;
    }

    .swiper-slide {
        background-color: transparent;
        border-left: 1.8px solid rgb(206, 204, 204);
        padding: 0.2vw 2vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .swiper-slide img {
      display: block;
      width: 50%;
      object-fit: contain;
      /* margin-bottom: 22vw; */
    }
    .swiper-slide p{
        padding-right: 3vw;
        font-size: 1vw;
        font-family: small;
        line-height:1.35vw;
        text-align: start;
    }
.partner{
    font-family: small;
    font-weight: 200;
    display: block;
    display: flex;
    align-items: center;
    height: 10vh;
    color: rgb(108, 108, 108);

}
.partner .dot{
    margin-right: 0.6vw;
}
.partner p{
    font-family: small;
}
.page5{
    height: 100vh;
    width: 100%;
    background: transparent;
    
}
footer{
    height: 100vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
    position: fixed;
    z-index: 990;
    /* top: 0; */
    left: 0;
    bottom: 0;
    color: rgb(220, 220, 220);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10vw 1vw 1.6vw 1vw;
}
.footer-top{
    display: flex;
    justify-content: space-between;
    padding: 0 6vw 0 5vw;
    z-index: 2;
}
.footer-top-right{
    font-size: 1.2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer-top-right p{
    font-family: small;
    font-weight: 550;
}
.footer-top-right input{
    height: 1.9vw;
    width: 100%;
    background: transparent;
    color: grey;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(196, 161, 161, 0.741);
    z-index: 999;
}
input::placeholder{
    color: rgba(242, 208, 208, 0.63);
    font-size: 1vw;
    font-family: small;
}
.footer-top-left{
    font-size: 1.25vw;
}
.footer-mid{
    padding-top: 3vw;
    text-align: center;
    font-size: 11.5vw;
    border-bottom: 1px solid rgba(224, 196, 196, 0.845);
    z-index: inherit;
}
.footer-bottom{
    margin-top: 0.5vw;
    display: flex;
    justify-content: space-between;
    padding: 0 2.5vw 0 2.5vw;
}
.footer-bottom h4{
    font-family: small;
    font-weight: 60;
    font-size: 1vw;
}
.glowup-con{
    position: relative;
}
.glowup1{
    height: 40vw;
    width: 44vw;
    background: linear-gradient(#fe2c10,#fe5310);
    position: absolute;
    top:  -20vw;
    left: -15%;
    border-radius: 50% ;
    filter: blur(36px);
    animation-name: glowups1;
    animation-duration: 2.8s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
.glowup2{
    height: 20vw;
    width:45vw;
    background-color: #fe3810;
    position: absolute;
    top: -10vw;
    left: 25%;
    border-radius: 15% 34% 40% 30%;
    filter: blur(45px);
    animation-name: glowups2;
    animation-duration: 6.1s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
.glowup3{
    height: 45vw;
    width: 50vw;
    background: linear-gradient(#fe3810,#fe3410);
    position: absolute;
    top: -20vw;
    right: -25%;
    border-radius: 40% 20% 0 50%;
    filter: blur(37px);
    animation-name: glowups3;
    animation-duration: 5.2s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
.glowup4{
    height: 26vw;
    width: 50vw;
    background: linear-gradient(#fe3410f1,#fe3810,#fe5310);
    position: absolute;
    top: -20vw;
    right: 14%;
    border-radius: 40% 20% 19% 50%;
    filter: blur(34px);
    animation-name: glowups4;
    animation-duration: 3.7s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes glowups1 {
    from{
        transform: translate(0%, 0%) skew(0deg,0deg);
    }
    to{
        transform: translate(-8%,15%) skew(-17deg,14deg);
    }
}
@keyframes glowups2 {
    from{
        transform: translate(0%, 0%) skew(0deg,0deg);
    }
    to{
        transform: translate(-8%,15%) skew(-7deg,-4deg);
    }
}
@keyframes glowups3 {
    from{
        transform: translate(0%, 0%) skew(-30deg,-10deg);
    }
    to{
        transform: translate(-8%,15%) skew(17deg,-4deg);
    }
}
@keyframes glowups4 {
    from{
        transform: translate(2%, 0%) skew(-30deg,-10deg);
    }
    to{
        transform: translate(-8%,14%) skew(17deg,-4deg);
    }
}

@media (max-width:600px) {
    .loader{
        font-size: 8vw;
    }
    .page1{
        min-height: 100vh;
        width: 100%;
        background-color: #EFEAE3;
        position: relative;
        padding: 0 2.4vw;
    }
    .menu-page{
        position: absolute;
        background-color: #00000059;
        height: 100%;
        width: 100%;
        left: 0;
        z-index: 11;
        top: -100%;
        display: block;
    }
    .menu-div1{
        height: 35%;
        width: 100%;
        background-color: #EFEAE3;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        text-transform: uppercase;
        align-items: end;
        padding: 7vw;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
    }
    .menu-div1 h1{
        font-size: 14vw;
    }
    nav{
        height: 7em;
        width: 100%;
        background-color: #EFEAE3;
        display: flex;
        justify-content: space-between;
        padding: 4vw 6.8vw;
        align-items: center;
        z-index: 20;
    }
    nav img{
        width: 40%;
    }
    .nav-part2{
        display: none;
    }
    .menu{
        display: block;
        border: 1px solid rgba(184, 178, 178, 0.791);
        padding: 2vw 5.6vw;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 15;
    }
    .menu h3{
        font-size: 4.5vw;
        font-family: small;
        font-weight: 200;
    }
    .menu-page{
        position: absolute;
        background-color: #00000059;
        height: 100%;
        width: 100%;
        left: 0;
        z-index: 11;
        top: -100%;
    }
    .center{
        height: 63vh;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-evenly;
        padding: 1vw;
        border-bottom: 1px solid rgba(31, 31, 31, 0.383);
    }
    .left{
        width: 80%;
        font-size: 4.7vw;
        font-weight: 700;
        display: flex;
        align-items: flex-end;
    }
    .left p{
        width: 100%;
    }
    .right{
        padding-left: 31vw;
        font-size: 7.9vw;
        display: flex;
        width: 50%;
        justify-content:space-around;
        align-items: flex-end;
        line-height: 14vw;
        text-align: right;
        z-index: 2;
    }
    .page1 video{
        width: 94%;
        height: 70vh;
        object-fit: cover;
        border-radius: 15px;
        margin-top: 3vw;
        position: relative;
        z-index: 10;
        margin-left: 4%;
    }
    .hero-shape{
        height: 90vw;
        width: 54vw;
        position: absolute;
        right: 0;
        top: 67vh;
    }
    .hero1{
        height: 100vw;
        width: 60vw;
    }
    .hero2{
        height: 80vw;
        width: 37vw;
    }
    .hero3{
        height: 90vw;
        width: 59vw;
    }
    .page2{
        height: 125vh;
        width: 100%;
        background-color: #EFEAE3;
        padding: 8vw 0;
        /* overflow-x: auto; */
    }
    .con h1{
        font-size: 14vw;
        
    }
    .circle{
        height: 30px;
        width: 30px;
    }
    .page2-content{
        height: 80vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 25vw 5vw 5vw 5vw;
    }
    .page2-left{
        width: 100%;
        height: 100%;
        font-size: 7.2vw;
        text-align: left;
        padding-bottom: 9vw;
    }
    .page2-right{
        width: 100%;
        height: 100%;
        text-align: left;
        display: flex;
        align-items: start;
    }
    .page2-right img{
        width: 78%;
        border-radius: 6px;
        z-index: 1;
    }
    .page2-right p{
        font-size: 4vw;
        font-weight: 100;
        color: rgba(42, 42, 42, 0.689);
        font-family: small;
    }
    .blur1{
        height: 70vw;
        width: 70vw;
        background-color: #ff7b15;
        border-radius: 50% 47% 48% 49%;
        position: absolute;
        filter: blur(20px);
    }
    .blur2{
        height: 80vw;
        width: 60vw;
        background-color: #FE4310;
        border-radius: 50% 47% 48% 49%;
        position: absolute;
        filter: blur(20px);
    }
    .featured-pro{
        padding-left: 5vw;
    }
    .dot{
        height: 8px;
        width: 8px;
    }
    .featured-pro p{
        font-size: 3.8vw;
    }
    .page4{
        height: 120vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .page4-content{
        height: 110vh;
        width: 94vw;
        border-radius:20px;
    }
    .page4-img{
        width: 100%;
        height: 50%;
        position: absolute;
        bottom: 0;
        border-radius:20px;
    }
    .description{
        padding: 10.8vw 10vw;
        color: #EFEAE3;
        padding-right: 14vw;
    }
    .description h3{
        font-size: 11vw;
        font-weight: 200;
        line-height: 11vw;
    }
    .description p{
        margin-top: 3.8vw;
        line-height: 5.2vw;
        font-size: 3.9vw;
        color: #EFEAE3;
    }
    .partner .dot{
        margin-right: 2vw;
    }
    .partner p{
        font-size: 3.8vw;
        font-family: small;
    }
    .follower{
        display: none;
    }
    .swipper-div{
        height: 70vh;
    }
    .swiper {
      margin-top: 5vw;
      width: 100%;
      height: 55%;
    }
    .swiper-slide {
        padding: 0.2vw 0vw 0.2vw 5vw;
    }
    .swiper-slide img {
      width: 80%;
    }
    .swiper-slide p{
        font-size: 3.8vw;
        line-height:5vw;
    }
    
    footer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10vw 1vw 1.6vw 1vw;
        position: fixed;
    }
    .footer-top{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 6vw 0 5vw;
    }
    .footer-top-right{
        font-size: 5vw;
        margin-top: 8vw;
    }
    .footer-top-right input{
        margin-top: 4vw;
        height: 5vw;
    }
    input::placeholder{
        font-size: 4vw;
        font-weight: 100;
    }
    .footer-top-left{
        font-size: 5vw;
    }
    .footer-mid{
        color: #fff;
        padding-top: 3vw;
        text-align: center;
        font-size: 11.5vw;
        border-bottom: 1px solid rgba(224, 196, 196, 0.845);
        z-index: 99;
    }
    .footer-bottom{
        height: 10%;
        margin-top: 0.5vw;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 10%;
        padding: 0 2.5vw 0 2.5vw;
    }
    .footer-bottom h4{
        font-size: 4vw;
    }
    .glowup1{
        height: 70vw;
        width: 64vw;
        filter: blur(46px);
    }
    .glowup2{
        height: 40vw;
        width:55vw;
    }
    .glowup3{
        height: 105vw;
        width: 60vw;
    }
    .glowup4{
        height: 86vw;
        width: 50vw;
        animation-duration: 7s;
    }
    .all-pro{
        width: 11.7em;
        padding: 2vw 0;
        margin-left: 3vw;
    }
    .all-pro h4{
        text-align: left;
        padding: 9px 28px;
        border: 1px solid rgba(55, 54, 54, 0.52);
        font-size: 18px;
    }
    .page3-con{
        display: none;
    }
    .page3{
        min-height: 100vh;
        width: 100%;
        background-color: #EFEAE3;
        position: relative;
    }
    .page3-resp{
        margin-bottom: 7.8vw;
        display: block;
    }
    .page3-resp-pro{
        height: 80vh;
        padding-left: 5%;
    }
    .page3-resp-pro video{
        height: 80%;
        width: 90%;
        object-fit: cover;
        border-radius: 20px;
    }
    .page3-resp-pro h2{
        margin-top: 4vw;
        font-size: 7vw;
        font-weight: 900;
    }
    .page3-resp-pro-details{
        margin-top: 2.3vw;
    }
    .page3-resp-pro-details h5{
        font-family: small;
        font-weight: 100;
        text-transform: uppercase;
    }
    .page3-resp-pro-details p{
        font-family: small;
        font-weight: 100;
        font-size: 3.5vw;
        color: grey;
    }
}
